[Unit]
# LVMSync gRPC daemon service
# Supported Platforms: Linux only, tested on amd64 and arm64
Description=LVMSync gRPC daemon

[Service]
User=lvmsync
ExecStart=/usr/bin/lvmsync_grpcd --config /etc/lvmsync.yaml
Restart=on-failure
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
